@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
//font-family
$ff-Stencil: 'Stencil', sans-serif;
$ff-Tahoma: 'Tahoma', sans;
$ff-Tekton: 'Tekton Pro', sans;
//font-weight normal / bold
$fw-n: 400;
$fw-b: 900;